.form-wrapper {
  margin: 10px auto;
  background-color: white;
  height: 100%;
}

.container {
  background: white;
  border: 2px solid #054a06;
  margin: 15px auto;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 2px 4px 6px rgba(0.1, 0.1, 0.1, 0.2);
  width: 100%;
  max-width: 1000px;

  @media (max-width: 768px) {
    padding: 15px;
    max-width: 90%;
  }
}

.agent-form {
  display: flex;
  flex-direction: column;
  gap: 10px;

  @media (max-width: 768px) {
    gap: 8px;
  }
}

.form-row {
  display: flex;
  gap: 10px;

  @media (max-width: 768px) {
    flex-direction: column;
  }
}

.form-group {
  flex: 1;
  display: flex;
  flex-direction: column;

  @media (max-width: 768px) {
    margin-bottom: 10px;
  }

  .error-text {
    font-size: 11px;
    color: red;
    margin-top: 4px;
    margin-bottom: 0px;
  }
}

label {
  margin-bottom: 5px;
  font-size: 12px;
  color: #333;

  @media (max-width: 768px) {
    font-size: 10px;
  }
}

input,
select {
  padding: 8px;
  font-size: 12px;
  border: 1px solid #ddd;
  border-radius: 4px;

  @media (max-width: 768px) {
    padding: 6px;
    font-size: 10px;
  }
}

input:focus,
select:focus {
  border-color: #075307;
  outline: none;
}

input::placeholder {
  color: rgba(0, 0, 0, 0.4);
}

.privilege-options {
  margin-top: 8px;
  display: flex;
  gap: 12px;

  @media (max-width: 768px) {
    flex-direction: column;
    gap: 8px;
  }
}

.radio-label {
  position: relative;
  display: flex;
  align-items: center;
  cursor: pointer;
  font-size: 12px;
  font-weight: 600;
  color: #333;

  @media (max-width: 768px) {
    font-size: 10px;
  }
}

.password-group {
  position: relative;
  display: flex;
  align-items: center;

  input {
    width: 100%;
    padding-right: 100px;
    font-size: 12px;

    @media (max-width: 768px) {
      padding-right: 70px;
      font-size: 10px;
    }
  }

  .generate-btn {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    background-color: #075307;
    color: #fff;
    border: none;
    padding: 4px 10px;
    border-radius: 30px;
    cursor: pointer;
    font-size: 12px;
    transition: background-color 0.3s ease;

    @media (max-width: 768px) {
      font-size: 10px;
      padding: 4px 8px;
    }
  }

  .generate-btn:hover {
    background-color: #054a06;
  }
}

.submit-btn {
  padding: 10px;
  margin-top: 10px;
  background-color: #075307;
  color: #fff;
  border: none;
  border-radius: 4px;
  font-size: 14px;
  cursor: pointer;
  align-self: flex-start;
  transition: background-color 0.3s ease;

  @media (max-width: 768px) {
    font-size: 12px;
    padding: 8px;
  }

  &:hover {
    background-color: #054a06;
  }
}
.reset-btn {
  margin-top: 10px;
  height: 40px;
  padding: 8px 10px 10px 10px;
  font-size: 14px;
}
.spanClass {
  display: flex;
  align-items: flex-end;
  justify-content: right;
}
.back-btn {
  gap: 8px;
  padding: 10px;
  margin-top: 10px;
  background-color: #f0f0f0;
  color: #075307;
  border: none;
  border-radius: 4px;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  align-self: flex-end; /* Align to the right */

  @media (max-width: 768px) {
    font-size: 12px;
    padding: 8px;
  }

  &:hover {
    background-color: #ddd;
  }

  .fas {
    font-size: 16px;

    @media (max-width: 768px) {
      font-size: 14px;
    }
  }
}
