.training-container-Completed {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: Arial, sans-serif;
  }
  
  .message-Completed {
    font-size: 1.5rem;
    color: #555;
  }