.container {
    position: relative;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

.box {
    display: flex;
    border-radius: 10px;
    width: 50%;
    max-width: 900px;
    z-index: 1;
}

.box-2 {
    display: flex;
    background-color: white;
    border-radius: 40px;
    width: 25%;
    max-width: 900px;
    z-index: 1;
}

.left-section {
    flex: 1;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.right-section {
    flex: 1;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.logo {
    width: 70%;
    margin-bottom: 20px;
    display: flex;
    align-items: flex-end;
}

.action-button {
    background: linear-gradient(to bottom, #4CAF50, #81C784);
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
}

.form-group {
    margin-bottom: 20px;
}

.input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 140px !important; /* Ensure this remains but updated below for clarity */
    color: #2A2A2A;
}

.MuiTextField-root .MuiInputBase-input {
    border-radius: 100px !important; /* Apply for MUI specific classes */
}

.sign-in-button {
    background-color: #075307 !important; 
    color: #fff !important;
    font-size: 15px !important;
    border: none;
    padding: 30px 20px  !important;
    font-size: 16px;
    border-radius: 15px !important;
    cursor: pointer;
    width: 100%;
}

.forgot-password {
    margin-top: 10px;
    text-align: center;
    color: #007BFF;
    text-decoration: none;
    font-size: 14px;
}
