.login-container {
  height: 100vh;
  background: url("./Assets/login-bg.png") no-repeat center center;
  background-size: cover;

  .left-section {
    color: #fff;
    padding: 20px;
  }

  .right-section {
    .login-box {
      max-width: 600px;
      min-width: 480px;
      border-radius: 10px;
      background-color: #fff;
      padding: 30px;
      color: black;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);

    }
    .text {
      color: black;
      text-align: center;
      font-weight: 600;
    }
    .submit_color {
      color: #054a06;
    }
  }
}

.custom-button {
  background-color: #054a06;
  border-color: #054a06; 
  color: #fff; 
}

.custom-button:hover {
  background-color: green; 
  color: white;
}
// .form-group label {
//   margin: 0;
//   padding: 15px 10px 10px 0px; 
//   display: block;
//   font-size: 15px; 
// }