.form-wrapper-agent-Report {
  margin: 0px auto;
  background-color: white;
  height: 100%;
  overflow: auto;
}

.completed-training-report {
  padding: 25px;
  background: white;

  .search-container {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;

    .search-input {
      flex: 0.3;
      padding: 10px;
      width: 50px;
      font-size: 14px;
      border: 1px solid #075307;
      border-radius: 4px;
      outline: none;

      &:focus {
        border-color: #075307;
      }
    }

    .search-button-download {
      padding: 10px 20px;
      background-color: transparent;
      color: #075307;
      border-radius: 4px;
      font-size: 16px;
      font-weight: bold;
      cursor: pointer;

      &:hover {
        background-color: #075307;
        color: #fff;
      }
    }
  }

  .ag-grid-container {
    height: 500px;
    color: white;
    border: 2px solid #006400;
    .ag-header {
      background-color: #006400;
      color: white;
      font-weight: bold;
    }

    .action-icons {
      display: flex;
      gap: 10px;
      justify-content: center;
      align-items: center;

      .icon {
        font-size: 16px;
        cursor: pointer;

        &.edit-icon {
          color: #4caf50;
        }

        &.notify-icon {
          color: #ff9800;
        }

        &.delete-icon {
          color: #f44336;
        }

        &:hover {
          transform: scale(1.2);
          transition: transform 0.2s ease-in-out;
        }
      }
    }
  }

  .ag-theme-alpine .ag-header-cell-label {
    color: white !important;
  }
}
