/* Header.css */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: white;
  color: green;
  border-bottom: 1px solid rgb(190, 190, 190);
}

.header .logo {
  font-size: 24px;
}

.header .profile {
  display: flex;
  align-items: center;
}

.header .profile button {
  margin-left: 10px;
  background-color: #e74c3c;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
}

.header .profile button:hover {
  background-color: #c0392b;
}
